body{
	font-family: Arial,Helvetica, sans-serif;
}
.player{
	height: 95vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.wrapper{
	border: 1px solid transparent;
	padding: 30px;
	width: 350px;
	height: 600px;
	border-radius: 20px;
	box-shadow: rgb(18, 52, 57) 0px 19px 38px, rgb(0, 0, 0.22) 0px 15px 12px;
}
.details{
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.track-art{
	margin: 25px;
	height: 230px;
	width: 230px;
	border: 2px solid white;
	background-size: cover;
	background-position: center;
	border-radius: 50%;
	-moz-box-shadow: 0px 6px 5px black;
	-webkit-box-shadow: 0px 6px 5px black;
	box-shadow: 0px 6px 5px #B4F5FF;
	-moz-border-radius: 190px;
	-webkit-border-radius: 190px;
	border-radius: 190px;
}
.now-playing{
	font-size: 1rem;
}
.track-name{
	font-size: 25px;
	margin-bottom: 10px;
}
.track-artist{
	margin-top: 5px;
	font-size: 1rem;
}
.buttons{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 30px;
}
.active{
	color: black;
}
.repeat-track,
.random-track,
.playpause-track,
.prev-track,
.next-track{
	padding: 20px;
	opacity: 0.9;
	transition: opacity .2s;
}
.repeat-track:hover,
.random-track:hover,
.playpause-track:hover,
.prev-track:hover,
.next-track:hover{
	opacity: 1.0;
}
.slider_container{
	display: flex;
	justify-content: center;
	align-items: center;
}
.seek_slider,
.volume_slider{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	height: 5px;
	background: #8a9fcf;
	-webkit-transition: .2s;
	transition: opacity .2s;
}
.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 15px;
	height: 15px;
	border-radius: 100%;
	background: rgb(210, 174, 174);
	border: 3px solid #20386b;
	cursor: pointer;
}
.seek_slider:hover,
.volume_slider:hover{
	opacity: 1.0;
}
.seek_slider{
	width: 60%;
}
.volume_slider{
	width: 30%;
}
.current-time,
.total-duration{
	padding: 10px;
}
.fa-volume-down,
.fa-volume-up{
	padding: 10px;
}
i,
i.fa-play-circle,
i.fa-pause-circle,
i.fa-step-forward,
i.fa-step-backward{
	cursor: pointer;
}
.randomActive{
	color: black;
}
.rotate{
	animation: rotation 8s infinite linear;
}
@keyframes rotation{
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(359deg);
	}
}
.loader{
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.loader .stroke{
	background: #f1f1f1;
	height: 150%;
	width: 10px;
	border-radius: 50px;
	margin: 0px 50px;
	animation: animate 1.4s linear infinite;
}
@keyframes animate{
	50%{
		height: 20%;
		background: #4286f4;
	}
	100%{
		height: 100%;
	}
}
.stroke:nth-child(1){
	animation-delay: 0s;
}
.stroke:nth-child(2){
	animation-delay: 0.3s;
}
.stroke:nth-child(3){
	animation-delay: 0.6s;
}
.stroke:nth-child(4){
	animation-delay: 0.9s;
}
.stroke:nth-child(5){
	animation-delay: 0.6s;
}
.stroke:nth-child(6){
	animation-delay: 0.s;
}
.stroke:nth-child(7){
	animation-delay: 0s;
}
.foot{
	position: absolute;
width: 1690px;
height: 518px;
left: -180px;
top: 614px;

background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 77.93%);
}
.home{
	position: absolute;
left: 25.93%;
right: 82.07%;
top: 55.96%;
text-align: center;
bottom: 8.01%;
font-size: xx-large;
color: #00C2CB;
}
.search{
	position: absolute;
	width: 72px;
	height: 72px;
	left: 52%;
	top: 55.96%;
	
font-size: xx-large;
color: white;
	transform: matrix(0.99, 0.04, -0.1, 1, 0, 0);
}
.a{
	position: absolute;
width: 169.61px;
height: 39.61px;
left: 52%;
top: 68.96%;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 36px;
display: flex;
align-items: center;
letter-spacing: 0.055em;

color: white;

}
.play{
	position: absolute;
width: 72px;
height: 72px;
left: 77%;
top: 55.96%;
color: white;
}
a{
	color: white;
    top: 73.96%;
    font-size: x-large;
}